@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<hr />
<br />




<style>


    .page-container {
        display: flex;
        /*border: 3px dashed darkblue;*/
        box-sizing: border-box;
    }


    .aboutme {
        /*border: 3px dashed green;*/
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }


</style>




<div class="page-container">
    <div class="aboutme">

        <p>
            Studenci trzeciego roku Automatyki i Robotyki na Wydziale Elektroniki na Politechnice Wrocławskiej.
        </p>
        <p>
            Kontakt: pietrusjakub@gmail.com, jakub.zaton.eka@gmail.com, hubert.gorski@gmail.com
        </p>

        <br />
        <br />
        <br />

    </div>
</div>



